
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.navbar {
  background: #024b30;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
}
.navbar a:hover {
  background: #04694a;
}
.navbar a.active {
  background: #f7b500;
  color: black;
  font-weight: bold;
}
.container {
  padding: 20px;
  text-align: center;
}
